---
interface Props {
  cols?: 2 | 3 | 4;
}
const { cols = 3 } = Astro.props;

const colClass = {
  2: 'sm:grid-cols-2',
  3: 'sm:grid-cols-3',
  4: 'sm:grid-cols-2 lg:grid-cols-4',
}[cols];
---

<div class:list={['grid grid-cols-1 gap-4 my-8 [&>figure]:mb-0', colClass]}>
  <slot />
</div>
