---
import Testimonial from './Testimonial.astro';
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 text-left">
    <Testimonial
      quote="Aidan worked closely with me through every step of the artistic process to create an illustration that I truly love. He consulted with me on composition and color schemes, and the final product is full of little details that are evidence of the care and thought that Aidan puts into every piece."
      credit="Kieran Sheldon, character art commission"
    />
    <Testimonial
      quote="Aidan impressed me with how quickly he delivers. He’s very receptive to feedback, and took great care to ensure each piece perfectly captured the story I wanted to tell."
      credit="Laura Packard, TTRPG commission"
    />
    <Testimonial
      quote="Aidan's images feel so believable and lived-in that you want to step right into them. His unique command of light and color provides his pieces with an enchanting, hypnotic quality — every time you look, you find one more untold story behind his brush strokes."
      credit="Nick Noble, Dungeon Design"
    />
</div>
